# Standard java gitignore

**/.metadata/*
**/.vscode/*
**/.idea/*
**/bin/*
seng300-iteration3.iws
seng300-iteration3.ipr
com.thelocalmarketplace.software.test.iml
com.thelocalmarketplace.software.iml
com.thelocalmarketplace.hardware_0.3.3.iml
